
@{
    ViewBag.Title = "List of Movies";
}

@model IEnumerable<Assignment_3.Models.Class>

<h1 class="text-center">Your Favorite Movies!</h1>
<div class="text-center">
<!--Lisitng out the movie headers-->
    <table class="table table-bordered table-dark table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Director</th>
                <th scope="col">Rating</th>
                <th scope="col">Edited</th>
                <th scope="col">Lent</th>
                <th scope="col">Notes</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <!--Pulling entered input from the model-->
            @foreach (Assignment_3.Models.Class x in Model)
            {
            <tr>
                <td scope="row">@x.Category</td>
                <td scope="row">@x.Title</td>
                <td scope="row">@x.Year</td>
                <td scope="row">@x.Director</td>
                <td scope="row">@x.Rating</td>
                <td scope="row">@x.Edited</td>
                <td scope="row">@x.Lent</td>
                <td scope="row">@x.Notes</td>
                @* Here are the edit and delete buttons that are part of the table *@
                <td><a class="btn btn-light" asp-action="Edit" asp-route-movieId="@x.MovieId">Edit</a></td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="movieID" value="@x.MovieId" />
                        <button class="alert-light" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
